rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mns_dev/{address} {
      allow read: if true;
      allow write: if false;
    }
    match /users_dev/{address} {
      allow read: if true;
      allow write: if false;
    }
    match /auth_dev/{address} {
      allow read, write: if false;
    }
  }
}
